body {
    background: white;
}
.player-side {
    width: 40%;
    border-spacing: none;
    border-collapse: collapse;
    .row {
        width: 100%;
        height: 40px;
        .box {
            width: 10%;
            height: 100%;
            border: solid blue 2px;
            margin: 0;
            background: grey;
            &:hover {
                background: brown
            }
        }
        .box-ship {
            border: solid red 2px !important;
        }
    }
}