body {
  background: white; }

.header {
  width: 200px;
  margin: 10px auto 0 auto; }
  .header button:first-child {
    border: solid 1px #dd4b39;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer; }
    .header button:first-child:hover {
      background: #dd4b39;
      color: white; }
  .header button:last-child {
    border: solid 1px #3db0b4;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer; }
    .header button:last-child:hover {
      background: #3db0b4;
      color: white; }

.clear-fix {
  content: "";
  clear: both;
  display: table; }

.container {
  margin-top: 100px;
  width: 80%;
  position: relative;
  margin: 50px auto 0 auto; }

.player1-board, .player2-board {
  width: 45%;
  border-spacing: none;
  border-collapse: collapse;
  float: left;
  margin: 0 2.5%; }
  .player1-board .row, .player2-board .row {
    width: 100%;
    height: 40px; }
    .player1-board .row .box, .player2-board .row .box {
      width: 10%;
      height: 100%;
      border: solid green 2px;
      margin: 0;
      background: #3db0b4;
      cursor: pointer; }
      .player1-board .row .box:hover, .player2-board .row .box:hover {
        background: #0aab8a; }
    .player1-board .row .box-ship, .player2-board .row .box-ship {
      border: solid #dd4b39 2px !important;
      border-radius: 5px;
      background: light-grey;
      cursor: pointer; }
      .player1-board .row .box-ship:hover, .player2-board .row .box-ship:hover {
        background: orange; }
